.pageTitle, .pageTitleText, .pageTitleButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &Text {
    width: 50%;
  }

  &Button {
    width: 50%;
    height: auto;
    justify-content: flex-end;
    flex-shrink: 0;

  }
}

