

<div class="pageTitle">
  <span class="pageTitleText">
    <h4 class="pageTitleText" *ngIf ="isRoot">Замовлення</h4>
    <h4 class="pageTitleText" *ngIf ="!isRoot">
      <a routerLink={{rootOrderUrl}}>Замовлення</a>
      <i class="material-icons">
        keyboard_arrow_right
      </i>
      Добавити продукцію
    </h4>
  </span>

  <span class="pageTitleButton">
    <button mat-raised-button
            (click)="openOrderDialog()"
            >
      Завершити
    </button>
  </span>
</div>

<router-outlet></router-outlet>
