<ng-container>
  <mat-toolbar color="primary" class="example-header">
    <a href="/">Header</a>

    <div class="linkWrapper">
        <a routerLinkActive="active"
           routerLink={{loginPageLink}}
           class="link"
        >Авторезуватись</a>

      <a routerLinkActive="active"
         routerLink={{registerPageLink}}
         class="link"
      >Зареєструватись</a>
    </div>

  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <mat-toolbar class="example-footer">Footer</mat-toolbar>
</ng-container>
