.sidenav-container,.content {
  height: 100%;

}

.sidenav {
  width: 200px;

}

.sidenav .mat-toolbar {
  background:inherit;
}

.content{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;

  .mat-toolbar.mat-primary {
    position:sticky;
    top: 0;
    z-index: 1;

  }
}

