<mat-card *ngIf="!isLoading; else loader">
  <mat-card-header class="header" mat-row>
    <div class="text">
      <span>Позиції</span>
    </div>
    <div class="button">
      <button mat-raised-button (click)="openPositionDialog()">
        <mat-icon aria-label="">add</mat-icon>
        Додати позицію
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-nav-list style="width:100%"
                  *ngIf="positions.length >0 ; else empty">
      <a mat-list-item
         *ngFor="let position of positions"
         (click)="openPositionDialog(position)">
        <span class="text">
          {{ position.name }}
          <strong>
            {{position.cost}}$
          </strong>
        </span>
        <span class="button">
          <button 
                  mat-mini-fab
                  aria-label="delete_sweep"
                  color="warn"
                  (click)="deletePosition($event, position)">
            <mat-icon>delete_sweep</mat-icon>
          </button>
        </span>
        
      </a>
    </mat-nav-list>

  </mat-card-content>
</mat-card>
<ng-template #loader>
  <app-spiner></app-spiner>
</ng-template>
<ng-template #empty>
  <p style="text-align:center;">-немає позицій-</p>
</ng-template>
